@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{font-family: "Montserrat", sans-serif;}
#root{
    width: 100%;
    height: 100%
}

.auth-shuffle {
    padding: 1px;
}

.auth-shuffle .login-btn, .auth-shuffle .signup-btn{
    transition: all 0.2s ease-in-out;
}


.active-btn{
    margin: 0.5px;
    background: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
}

.get-started-active-btn{
    cursor: pointer;
    background-color: white;
    color: black;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    font-family: sans-serif;
  }
  
.ripple-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.ripple-circle {
    position: relative;
    width: 100px;
    height: 100px;
    /* background: url('../assets/images/fingerTapping1.jpg') no-repeat center;
    background-size: contain; */
    z-index: 2;
}

.ripple-circle::before,
.ripple-circle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 2px solid white;
    transform: translate(-50%, -50%);
    animation: ripple 3s infinite;
}

.ripple-circle::before {
    width: 200px;
    height: 200px;
}

.ripple-circle::after {
    width: 300px;
    height: 300px;
    animation-delay: 1.5s;
}

.loader {
    animation-name: loader;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* animations */
@keyframes fade-in-left {
    0% {
        transform: translateX(-80px);
    }
    50% {
        transform: translateX(-70px);
    }
    65% {
        transform: translateX(-75px);
    }
    80% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(-300px);
    }
}

@keyframes fade-in-right {
    0% {
        transform: translateX(80px);
    }
    50% {
        transform: translateX(70px);
    }
    65% {
        transform: translateX(75px);
    }
    80% {
        transform: translateX(150px);
    }
    100% {
        transform: translateX(300px);
    }
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
        opacity: 0.6;
    }
    50% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.2);
        opacity: 0.1;
    }
}

@keyframes loader{
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(360deg);
    }
    /* 0% {
        transform: rotate(90deg)
    }
    25% {
        transform: rotate(270deg)
    }
    50% {
        transform: rotate(360deg)
    }
    75% {
        transform: rotate(315deg)
    }
    100% {
        transform: rotate(360deg)
    } */
}


/* media queries */
@media (max-width: 768px) {
    .ripple-circle {
        width: 70px;
        height: 70px;
        background-size: 60%;
    }

    .ripple-circle::before {
        width: 140px;
        height: 140px;
    }

    .ripple-circle::after {
        width: 200px;
        height: 200px;
    }
}
